@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <link rel="stylesheet" href="@routes.Assets.versioned("starAdmin/vendors/iconfonts/mdi/css/materialdesignicons.min.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("starAdmin/vendors/iconfonts/puse-icons-feather/feather.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("starAdmin/vendors/css/vendor.bundle.base.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("starAdmin/vendors/css/vendor.bundle.addons.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("starAdmin/css/style.css")">
    </head>
    <body>
        @content
    <script src="@routes.Assets.versioned("javascripts/main.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("starAdmin/vendors/js/vendor.bundle.base.js")"></script>
    <script src="@routes.Assets.versioned("starAdmin/vendors/js/vendor.bundle.addons.js")"></script>
    <script src="@routes.Assets.versioned("starAdmin/js/off-canvas.js")"></script>
    <script src="@routes.Assets.versioned("starAdmin/js/misc.js")"></script>
    </body>
</html>
