@(userListJSON: String)(implicit request: RequestHeader, session: play.api.mvc.Session )
@managementMain("User management") {
    <div id="app">
        <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title float-left">User account management</h4>
                        <div class="float-right">
                            <button v-on:click="showCreateModal" class="btn btn-success btn-block">
                                New user
                                <i class="mdi mdi-plus"></i>
                            </button>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>User</th>
                                        <th>Role</th>
                                        <th class="text-right">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="user in userListSortByName">
                                        <td>{{user.username}}</td>
                                        <td v-if="user.isManager">Manager</td>
                                        <td v-else>Assessor</td>
                                        <td class="text-right">
                                            <button v-on:click="showEditModal(user)" type="button" class="btn btn-icons btn-sm btn-inverse-outline-warning">
                                                <i class="mdi mdi-pencil"></i>
                                            </button>
                                            <button v-on:click="remove(user.id,user.username)" type="button" class="btn btn-icons btn-sm btn-inverse-outline-danger">
                                                <i class="mdi mdi-delete"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 v-if="isEditMode" class="modal-title">Edit user</h4>
                        <h4 v-else class="modal-title">New user</h4>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="username">Username</label>
                                <input type="email" class="form-control" v-model="form.username" name="username" id="username" placeholder="Username">
                            </div>
                            <div class="form-group">
                                <label for="password1">Password</label>
                                <input type="password" class="form-control" v-model="form.password" name="password" id="password1" placeholder="Password">
                            </div>
                            <div class="form-group">
                                <div class="form-check form-check-flat">
                                    <label class="form-check-label">
                                        <input name="is_manager" type="checkbox" v-model="form.isManager" value="true" class="form-check-input">
                                        Manager
                                        <i class="input-helper"></i></label>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button v-on:click="submit" :disabled="submitting" class="btn btn-success mr-2">
                            <i v-if="submitting" class="mdi mdi-refresh mdi-spin"></i>Submit</button>
                        <button class="btn btn-light" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
            const emptyForm = {
                id: null,
                username: '',
                password: '',
                isManager: false
            };
            new Vue({
                el: '#app',
                data: {
                    userList: @Html(userListJSON),
                    form: {...emptyForm},
                    submitting: false,
                    isEditMode: false
                },
                computed: {
                  userListSortByName() {
                      return this.userList.sort((a,b) => {
                          if (a.username < b.username)
                              return -1;
                          if (a.username > b.username)
                              return 1;
                          return 0;
                      });
                  }
                },
                methods: {
                    async remove(id, username) {
                        if (confirm(`Are you sure you want to delete ${username}?`)) {
                            await fetch(`user/delete/${id}`);
                            this.userList = this.userList.filter(user => user.id !== id);
                        }
                    },
                    async submit() {
                        this.submitting = true
                        const response = await fetch("@routes.UserController.upsertUser()", {
                            method: "POST",
                            body: JSON.stringify(this.form),
                            headers: {
                                'Content-Type': 'application/json'
                            }
                        });
                        const result = await response.json();
                        if (!this.isEditMode && result.success) {
                            this.userList = [...this.userList, result.user];
                            this.form = {...emptyForm};
                            $("#myModal").modal('hide');
                            alert(`Created ${result.user.username}`);
                        } else if (this.isEditMode && result.success) {
                            this.userList = this.userList.map(user => user.id === result.user.id ? result.user : user);
                            $("#myModal").modal('hide');
                            alert(`Updated ${result.user.username}`);
                        } else if (result.uniqueViolation) {
                            alert(`${this.form.username} is already exist`);
                        }
                        this.submitting = false
                    },
                    showEditModal(user) {
                        this.isEditMode = true;
                        this.form = {...user};
                        $("#myModal").modal('show');
                    },
                    showCreateModal() {
                        this.isEditMode = false;
                        this.form = {...emptyForm};
                        $("#myModal").modal('show')
                    }
                }
            })
    </script>
}