@(user: User, evaluation: Evaluation, questionResponseJSON: String)(implicit session: play.api.mvc.Session, request: play.api.mvc.RequestHeader)
@managementMain("Evaluation response") {
    <div id="app">
        <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title float-left">@user.username - @evaluation.title responses</h4>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Question</th>
                                        <th>Response</th>
                                        <th>Comment</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="questionResponse in questionResponseList">
                                        <td>{{questionResponse.question}}</td>
                                        <td>{{questionResponse.answer}}</td>
                                        <td>
                                            <ul class="list-arrow">
                                                <li v-for="comment in questionResponse.comments">
                                                    {{comment.comment}} - {{comment.username}}</li>
                                            </ul>
                                        </td>
                                        <td>
                                            <button v-on:click="showModal(questionResponse.response_id)" type="button" class="btn btn-icons btn-sm btn-inverse-outline-primary">
                                                <i class="mdi mdi-comment"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Comment</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <input v-model="form.comment" type="text" class="form-control" placeholder="Comment">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button v-on:click="submit" :disabled="submitting" type="submit" class="btn btn-success mr-2">
                            <i v-if="submitting" class="mdi mdi-refresh mdi-spin"></i>Submit</button>
                        <button class="btn btn-light" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
            const emptyForm = {
                id: null,
                responseId: null,
                comment: '',
            };
            new Vue({
                el: '#app',
                data: {
                    questionResponseList: @Html(questionResponseJSON),
                    form: {...emptyForm},
                    submitting: false
                },
                methods: {
                    async remove(id, title) {
                        if (confirm(`Are you sure you want to delete ${title}?`)) {
                            await fetch(`evaluation/${id}?csrfToken=@helper.CSRF.getToken.value`, {
                                method: 'delete',
                                credentials: 'same-origin'
                            });
                            this.evaluationList = this.evaluationList.filter(evaluation => evaluation.id !== id);
                        }
                    },
                    async submit() {
                        const getQuestionResponse = (responseId) => [].concat(...this.questionResponseList.map(r => r.comments))
                                .find(r => r.user_id === @session.get("uid") && r.response_id === responseId);

                        this.submitting = true;
                        const userQuestionResponse = getQuestionResponse(this.form.responseId)
                        const response = await fetch("@helper.CSRF(routes.CommentController.upsertComment)", {
                            method: "POST",
                            credentials: 'same-origin',
                            body: JSON.stringify({
                                ...this.form,
                                id: userQuestionResponse ? userQuestionResponse.comment_id : null
                            }),
                            headers: {
                                'Content-Type': 'application/json'
                            }
                        });
                        const result = await response.json();
                        if (result.success) {
                            this.form = {...emptyForm};
                            $("#myModal").modal('hide');
                            const commentResult = result.comment;
                            const formattedCommentResult = {
                                user_id: commentResult.userId,
                                username: "@session.get("username")",
                                comment_id: commentResult.id,
                                comment: commentResult.comment,
                                response_id: commentResult.responseId
                            };
                            this.questionResponseList = this.questionResponseList.reduce((state, questionResponse) => {
                                // Already comment so, update the existed
                                if (questionResponse.response_id === formattedCommentResult.response_id) {
                                    const newComments = questionResponse.comments.map(comment => comment.comment_id === formattedCommentResult.comment_id ? formattedCommentResult : comment);
                                    const newQuestionResponse = {...questionResponse, comments: newComments};
                                    return [...state, newQuestionResponse]
                                }
                                else
                                    return [...state, questionResponse]
                            }, []);
                            alert(`Done`);
                        }
                        this.submitting = false
                    },
                    showModal(responseId) {
                        this.form = {...emptyForm, responseId};
                        $("#myModal").modal('show')
                    }
                }
            })
    </script>
    <style>
            ul {
                margin-bottom: 0px
            }
    </style>
}