@()(implicit session: play.api.mvc.Session)
@managementMain("Evaluation management") {
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title float-left">Evaluation management</h4>
                    <div class="float-right">
                        <button data-toggle="modal" data-target="#myModal" class="btn btn-success btn-block">New evaluation form
                            <i class="mdi mdi-plus"></i>
                        </button>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Topic</th>
                                    <th>Created date</th>
                                    <th class="text-right">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Evaluation form 1</td>
                                    <td>28 June 2018</td>
                                    <td class="text-right">
                                        <button type="button" class="btn btn-icons btn-sm btn-inverse-outline-warning">
                                            <i class="mdi mdi-pencil"></i>
                                        </button>
                                        <button type="button" class="btn btn-icons btn-sm btn-inverse-outline-danger">
                                            <i class="mdi mdi-delete"></i>
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Evaluation form 2</td>
                                    <td>30 June 2018</td>
                                    <td class="text-right">
                                        <button type="button" class="btn btn-icons btn-sm btn-inverse-outline-warning">
                                            <i class="mdi mdi-pencil"></i>
                                        </button>
                                        <button type="button" class="btn btn-icons btn-sm btn-inverse-outline-danger">
                                            <i class="mdi mdi-delete"></i>
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Evaluation form 3</td>
                                    <td>1 July 2018</td>
                                    <td class="text-right">
                                        <button type="button" class="btn btn-icons btn-sm btn-inverse-outline-warning">
                                            <i class="mdi mdi-pencil"></i>
                                        </button>
                                        <button type="button" class="btn btn-icons btn-sm btn-inverse-outline-danger">
                                            <i class="mdi mdi-delete"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">New evaluation form</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Evaluation topic</label>
                        <input type="text" class="form-control" placeholder="Enter evaluation topic">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success mr-2">Submit</button>
                    <button class="btn btn-light" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
}